@font-face {
  font-family: "Poppins Regular";
  src: url("./assets/fonts/Poppins-Regular.otf");
}

body {
  font-family: "Poppins Regular" !important;
  background-image: url("./assets/images/latest-1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

*.move-on-hover {
  transition: 0.2s ease-out;
  overflow: hidden;
  transform-origin: 50% 0;
  transform-origin: 50% 0;
  transform: perspective(999px) rotateX(0deg) translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, box-shadow;
}

*.move-on-hover:hover {
  transform: perspective(999px) rotateX(7deg) translate3d(0px, -4px, 5px);
}
